h1 {
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
body {
  background-color: rgb(97, 97, 97);
}
.image {
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}
.Footer {
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin-top: 100px;   
  }